/* Commons CSS */
body{
    margin:0;
    font-size:18px;
    line-height: 1.3;
}
body,button,input{
    font-family: 'Source Sans Pro', sans-serif;
}
input:focus{
    outline:0;
}
h1,h2,h3{
    font-family: 'Oxygen', sans-serif;
}
h1{
    font-size:65px;
    margin-bottom:0;
}
h2{
    font-size:45px;
}
h3{
    font-size:24px;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-content-center{
    justify-content:center;
}
.text-center{
    text-align:center;
}
.btn-red{
    padding:12px 20px;
    background-color:#FF5959;
    color:#ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-size:20px;
    display:inline-block;
    margin-top:10px;
    border:none;
    cursor: pointer;
}
.container{
    width:1130px;
    margin:auto;
    padding:0 20px;
}

section{
    padding-top:80px;
    padding-bottom:20px;
}
/* End of Common CSS */
/* Hero Section */
.hero-section{
    padding:100px 0 150px 0;
    background-image:linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(./images/flood-help.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color:#ffffff;
}
.hero-section .container{
    width:800px;
}
/* End of Hero Section */
/*  Donate Today */
.donate-amounts{
    width:775px;
    margin:auto;
}
.donate-amount-item{
    background-color: #FAFAFA;
    border:2px solid #FAFAFA;
    border-radius: 5px;
    width:135px;
    padding:40px 10px;
    font-size:30px;
    text-align:center;
    font-weight: bold;
    margin:10px;
    color:#707070;
}
.donate-amount-item.active{
    background-color:#FFEEEE;
    border-color: #FF5959;
    color:#FF5959;
}

.other-amount-input{
    width:100%;
    margin:20px 10px;
    padding:15px;
    text-align:center;
    border:none;
    border-bottom:1px solid #DADADA;
    font-size:18px;
}
/* End of Donate Today */
/* Our Donate Plan */
.donate-card-item{
    padding:50px 20px;
    text-align:left;
    margin:30px 10px 0 10px;
    border-radius:5px;
    width:30%;
}
.donate-plan #food{
    background:#EDF5F6;
    margin-left:0;
}
.donate-plan #shelter{
    background:#FFEEEE;
}
.donate-plan #education{
    background:#FFF4D6;
    margin-right:0;
}
/* End of Our Donate Plan */
/* Depend on Donation */
.depend-on-donation {
    padding-top:120px;
}
.depend-on-donation img.depnend-on-image{
    display: block;
    margin:auto;
    width:100%;
    border-radius: 5px;
}
.depend-on-box {
    box-shadow: 0px 5px 15px -3px grey;
    width: 900px;
    margin: auto;
    margin-top: -100px;
    border-radius: 5px;
    overflow: hidden;
}
.depend-on-title{
    padding:30px;
    background:#12284C;
    color:#ffffff;
    width:45%;
}
.depend-on-content{
    padding:30px;
    background:#ffffff;
    width:55%;
}
/* End of Depend on Donation */
/* Get My Update */
.get-update .get-update-form{
    width:809px;
    margin:40px auto 100px auto;
    background:#FFF4D6;
    padding:20px;
    height:160px;
}
.get-update-form input{
    height:48px;
    width:235px;
    background-color:#D9D9D9;
    border-radius:5px 0 0 5px;
    padding:0px 20px;
    border:none;
    font-size:16px;
}
.get-update-form .btn-subscribe{
    font-size:16px;
    padding:14px 40px;
    border-radius:0 5px 5px 0;
    background:#FF5959;
    color:#ffffff;
    margin-left:-5px;
    margin-top:0;
}
/*End of Get My Update */
/* Footer */
footer{
    background-color:#0B0D17;
    color:#D9DBE1;
    padding: 40px 0;
}
footer h3{
    font-family: 'Lobster', cursive;
    color:#FF5959;
    font-size:36px;
    margin-bottom:20px;
}
/* End of Footer */